/assignment_2/.ipynb_checkpoints/assignment_2-checkpoint (Simon Kern's conflicted copy 2017-02-12).ipynb
/assignment_2/.ipynb_checkpoints/assignment_2-checkpoint (simon-linux's conflicted copy 2017-02-19).ipynb
/assignment_2/best_sub7428.py
/assignment_2/data/DRIVE/test/results/10_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/11_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/12_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/13_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/14_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/15_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/16_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/17_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/18_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/19_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/1_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/20_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/2_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/3_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/4_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/5_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/6_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/7_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/8_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/DRIVE/test/results/9_mask (simon-linux's conflicted copy 2017-02-19).png
/assignment_2/data/training_data (Simon Kern's conflicted copy 2017-02-12).npz
/assignment_2/data/training_data (simon-linux's conflicted copy 2017-02-19).npz
/assignment_2/spyd (simon-linux's conflicted copy 2017-02-19).py
/assignment_3/ISMI_2017_assignment_3.zip
/assignment_3/scan01.dcm
/assignment_3/scan01.mhd
/assignment_3/scan01.zraw
